<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mikecancode.ultimatetestapp" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageViewPager.ImageViewPagerActivity"
            android:label="@string/title_activity_image_view_pager" >
        </activity>
        <activity
            android:name=".ListViewPager.ListViewPagerActivity"
            android:label="@string/title_activity_list_view_pager" >
        </activity>
        <activity
            android:name=".SlidingTabStrip.PagerSlidingTabStripActivity"
            android:label="@string/title_activity_pager_sliding_tab_strip" >
        </activity>
        <activity
            android:name=".VanillaEditText.EditTextActivity"
            android:label="@string/title_activity_edit_text"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
